//COLORS
$color-primary: #379b00;
$color-primary-light: #62b100;
$color-primary-dark: #098500;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ddd;
$color-grey-light-4: #ccc;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
$main-font: 'Montserrat';

// SHADOWS
$shadow-dark: 0 2rem 6rem (rgba(0, 0, 0,.3));
$shadow-light-big: 0 1rem 2rem rgba(0, 0, 0, .2);
$shadow-light-small: 0 .5rem 1rem rgba(0, 0, 0, .2);
$shadow-lighter: 0 2rem 5rem rgba(0, 0, 0, .06);


$body-padding: 4rem;


:root {
    //MARGIN & PADDINGS
    --body-padding: 4rem;


}

