.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 2rem 0;
    box-shadow: $shadow-light-big;
    transition: all .2s;

    &__img {
        width: 100%;
    }

    &__content {
        width: 90%;
        min-height: 25rem;
        height: auto;
        margin: 0 auto;
    }


    &:hover {
        transform: scale(1.05);
    }
}