.intro {
    height: 90%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;

    &__text-box {
        display: flex;
        align-items: center;
    }

    &__title{
        
        width: 50%;
        padding-right: 5rem;
        text-align: center;
        
        font-size: 6rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .6rem;
        word-spacing: .2rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &__subtitle {
        width: 50%;
        vertical-align: top;
        padding-left: 5rem;
        text-align: center;
        border-left: 1px solid $color-white;

        font-size: 5rem;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .6rem;
        word-spacing: .2rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
}