.issues {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 5rem;
    grid-column-gap: 2rem;
 
}

.issue {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

    &:hover >  &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        animation: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    &:hover >  &__img{
       transform: scale(1.05);
       filter: opacity(0.3) ;
    }

    &__img {
        width: 80%;
        transition: all .2s;
        box-shadow: $shadow-light-big;

    }

    &__info {
        display: none;
        position: absolute;
        top: 50%;

        font-size: 1.6rem;
        font-weight: 700;


        @media only screen and (hover: none) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            position: relative;
            top: 2rem;
            margin-bottom: 2rem;

        }
    }

    &__people, &__priority {
        margin-bottom: 1.5rem;
    }

}

