/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1600px:  Extra breakpoint
1600 - 1800px:    Normal style applied
1800px +:       Big desktops

$breakpoint:
- phone
- tab-port
- tab-land
- extra-bp
- big-desktop


ORDER:

Base    >   Typography  > General Layout    >   Page layout     >   Component


*/
:root {
  --body-padding: 4rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    border: none;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem);
    border: none; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeftMenu {
  0% {
    opacity: 0;
    transform: translateX(-35rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: relative;
  box-sizing: border-box;
  padding: 4rem;
  padding-bottom: 0;
  background-color: #f7f7f7;
  color: #333; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding-left: 0;
      padding-right: 0; } }

::selection {
  background-color: #62b100;
  color: #fff; }

.hide-mobile {
  display: none !important; }

strong {
  font-weight: 700; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.6;
  letter-spacing: 0.15rem;
  word-spacing: .3rem; }

.heading-1 {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 1rem; }

.heading-2 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 1rem; }

.heading-3 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }
  @media only screen and (max-width: 75em) {
    .heading-3 {
      font-size: 1.8rem; } }

.inline-link:link, .inline-link:visited {
  text-decoration: none;
  color: #379b00;
  transition: all .2s; }

.inline-link:hover {
  transform: scale(1.05);
  color: #62b100; }

.inline-link:focus {
  outline: none;
  color: #62b100;
  border-bottom: 2px solid #62b100;
  transform: scale(1.05); }

.u-margin-bottom-huge {
  margin-bottom: 12rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border: none;
  border-radius: 10rem;
  background-color: #62b100;
  color: #fff;
  transition: all .2s;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--animated {
  animation: moveInBottom .5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn--small {
  padding: 1rem 1.5rem;
  font-size: 1.4rem; }

.btn--small-larger {
  padding: 1rem 3rem;
  font-size: 1.4rem; }

.btn--big {
  padding: 1.5rem 3rem;
  font-size: 2rem; }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .card__img {
    width: 100%; }
  .card__content {
    width: 90%;
    min-height: 25rem;
    height: auto;
    margin: 0 auto; }
  .card:hover {
    transform: scale(1.05); }

.intro {
  height: 90%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff; }
  @media only screen and (max-width: 100em) {
    .intro {
      width: 90%; } }
  .intro__text-box {
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .intro__text-box {
        flex-direction: column;
        justify-content: center; } }
  .intro__title {
    width: 50%;
    padding-right: 5rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .6rem;
    word-spacing: .2rem;
    text-align: center;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 100em) {
      .intro__title {
        font-size: 5rem; } }
    @media only screen and (max-width: 75em) {
      .intro__title {
        font-size: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .intro__title {
        width: 100%;
        padding-right: 0; } }
  .intro__subtitle {
    width: 50%;
    vertical-align: top;
    padding-left: 5rem;
    text-align: center;
    border-left: 1px solid #fff;
    font-size: 5rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .6rem;
    word-spacing: .2rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 100em) {
      .intro__subtitle {
        font-size: 4rem; } }
    @media only screen and (max-width: 75em) {
      .intro__subtitle {
        font-size: 3rem; } }
    @media only screen and (max-width: 56.25em) {
      .intro__subtitle {
        width: 100%;
        border-left: none;
        padding-left: 0;
        padding-top: 3rem; } }

.issues {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 2rem; }

.issue {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .issue:hover > .issue__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; }
  .issue:hover > .issue__img {
    transform: scale(1.05);
    filter: opacity(0.3); }
  .issue__img {
    width: 80%;
    transition: all .2s;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .issue__info {
    display: none;
    position: absolute;
    top: 50%;
    font-size: 1.6rem;
    font-weight: 700; }
    @media only screen and (hover: none) {
      .issue__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 2rem;
        margin-bottom: 2rem; } }
  .issue__people, .issue__priority {
    margin-bottom: 1.5rem; }

.footer {
  margin-left: -4rem;
  margin-right: -4rem;
  padding: 5rem 0;
  color: #f7f7f7;
  background-image: url(../images/background/dark-wood.jpg);
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      margin-left: 0;
      margin-right: 0; } }
  .footer__container {
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__container {
        width: 90%;
        grid-column-gap: 1.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        grid-template-columns: 1fr;
        grid-row-gap: 5rem; } }
  .footer__title {
    color: #62b100;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.2rem; }
  .footer__contact, .footer__join-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__email {
    margin-bottom: 1.2rem;
    color: currentColor; }
    .footer__email:hover {
      color: rgba(119, 119, 119, 0.8); }
  .footer__icon-link:link, .footer__icon-link:visited {
    text-decoration: none; }
  .footer__icon-link:not(:last-of-type) {
    margin-right: .5rem; }
  .footer__icon {
    height: 3rem;
    width: 3rem;
    fill: #777; }
    .footer__icon:hover {
      transform: scale(1.05);
      color: #62b100; }
    .footer__icon:focus {
      outline: none;
      color: #62b100;
      border-bottom: 2px solid #62b100;
      transform: scale(1.05); }
    .footer__icon:hover {
      fill: #62b100; }
    @media only screen and (hover: none) {
      .footer__icon {
        fill: #62b100; } }
  .footer__logo-box {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo-box {
        order: -1; } }
  .footer__logo {
    width: 15rem; }
  .footer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__form {
        margin-bottom: 5rem; } }
  .footer__email-input {
    width: 100%;
    padding: .7rem 1rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: #eee;
    color: #333; }
    .footer__email-input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #379b00; }
    .footer__email-input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .footer__email-label {
    display: block;
    align-self: flex-start;
    font-size: 1.2rem;
    margin-left: .7rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
    transition: all .3s; }
  .footer__email-input:placeholder-shown + .footer__email-label {
    opacity: 0;
    visibility: hidden;
    margin-bottom: -1rem;
    transform: translateY(-3rem); }
  .footer__nav {
    display: flex;
    max-width: 120rem;
    width: 80%;
    margin: 0 auto; }
    @media only screen and (max-width: 37.5em) {
      .footer__nav {
        flex-direction: column;
        align-items: stretch;
        justify-content: center; } }
  .footer__copy {
    width: max-content; }
    @media only screen and (max-width: 37.5em) {
      .footer__copy {
        align-self: center;
        margin-bottom: 2rem; } }
  .footer__list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
  @media only screen and (max-width: 37.5em) {
    .footer__item:not(:last-of-type) {
      margin-right: 2rem; } }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover {
    transform: scale(1.05);
    color: #62b100; }
  .footer__link:focus {
    outline: none;
    color: #62b100;
    border-bottom: 2px solid #62b100;
    transform: scale(1.05); }

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: calc(100vw - 2.5 *  var(--body-padding));
  height: 10rem;
  overflow: hidden;
  background-color: #f7f7f7; }
  .header__logo-box {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-box {
        order: 1;
        justify-self: center; } }
  .header__logo {
    width: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-template-columns: repeat(3, 1fr);
      width: 100vw; } }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto; }
  @media only screen and (max-width: 56.25em) {
    .search {
      order: 2;
      width: 33%; } }
  @media only screen and (max-width: 56.25em) {
    .search__input_box {
      display: none;
      position: fixed;
      top: 10rem;
      right: 0;
      height: 7rem;
      width: 50%;
      padding-right: 2rem;
      z-index: 800;
      transition: all 1s;
      background-color: #f7f7f7;
      animation-name: moveInTop;
      animation-duration: .8s;
      animation-timing-function: ease-out; } }
  @media only screen and (max-width: 37.5em) {
    .search__input_box {
      width: 100%; } }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #eee;
    color: currentColor;
    border: none;
    border-radius: 10rem;
    width: 95%;
    padding: .7rem 3.5rem .7rem 1rem;
    margin-right: -5rem;
    margin-top: -1rem;
    transition: all .2s; }
    .search__input:focus {
      outline: none;
      background-color: rgba(204, 204, 204, 0.4);
      border: none; }
  .search__input:focus + .search__btn {
    background-color: transparent; }
  .search__btn {
    border: none;
    background-color: #eee;
    transition: all .2s; }
    .search__btn:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    margin-top: -1rem;
    fill: #333; }
  .search__toggle {
    visibility: hidden;
    position: absolute;
    top: 3.5rem;
    right: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .search__toggle {
        right: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .search__toggle {
        visibility: visible;
        opacity: 0; } }
  .search__toggle:checked ~ .search__input_box {
    display: flex;
    justify-content: center;
    align-items: center; }
  .search__toggle-button {
    position: absolute;
    top: 3.5rem;
    right: 5rem;
    visibility: hidden;
    width: min-content; }
    @media only screen and (max-width: 56.25em) {
      .search__toggle-button {
        visibility: visible; } }
    @media only screen and (max-width: 56.25em) {
      .search__toggle-button {
        right: 3rem; } }
  .search__toggle-icon {
    height: 3rem;
    width: 3rem;
    fill: #62b100; }

.nav {
  width: 100%; }
  .nav__list {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 10.2rem;
        left: 0;
        height: 100%;
        width: 50%;
        z-index: 1000;
        transition: all 1s;
        background-image: linear-gradient(to right bottom, #62b100, #098500);
        animation-name: moveInLeftMenu;
        animation-duration: .8s;
        animation-timing-function: ease-out; } }
    @media only screen and (max-width: 37.5em) {
      .nav__list {
        width: 75%; } }
  .nav__item {
    text-align: center; }
    .nav__item:not(:last-of-type) {
      margin-right: 1.8rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__item {
        padding-top: 5rem;
        padding-left: 2rem;
        margin-left: 3rem; } }
  .nav__link:link, .nav__link:visited {
    font-family: inherit;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .nav__link:link, .nav__link:visited {
        color: #fff;
        font-size: 1.8rem; } }
  .nav__link:hover {
    transform: scale(1.05);
    color: #62b100; }
  .nav__link:focus {
    outline: none;
    color: #62b100;
    border-bottom: 2px solid #62b100;
    transform: scale(1.05); }
  @media only screen and (max-width: 56.25em) {
    .nav__link:hover, .nav__link:focus {
      color: #fff; } }
  @media only screen and (max-width: 56.25em) {
    .nav__link:focus {
      border-bottom: 2px solid #fff; } }
  .nav__link--active {
    color: #62b100;
    border-bottom: 2px solid #62b100;
    transform: scale(1.05); }
    @media only screen and (max-width: 56.25em) {
      .nav__link--active {
        color: #fff;
        border-bottom: 2px solid #fff; } }
  .nav__back-button {
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .nav__back-button {
        position: fixed;
        top: 10rem;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.4);
        transition: all .1s; } }
  .nav__toggle {
    visibility: hidden;
    position: absolute;
    top: 3rem;
    left: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .nav__toggle {
        visibility: visible;
        opacity: 0; } }
    @media only screen and (max-width: 56.25em) {
      .nav__toggle {
        left: 3rem; } }
  .nav__toggle:checked ~ .nav__list {
    display: flex;
    z-index: 1000; }
  .nav__toggle:checked ~ .nav__back-button {
    display: block;
    z-index: 999; }
  .nav__toggle-button {
    position: absolute;
    top: 3rem;
    left: 5rem;
    visibility: hidden;
    width: min-content; }
    @media only screen and (max-width: 56.25em) {
      .nav__toggle-button {
        visibility: visible; } }
    @media only screen and (max-width: 56.25em) {
      .nav__toggle-button {
        left: 3rem; } }
  .nav__toggle-icon {
    height: 4rem;
    width: 4rem;
    fill: #62b100; }

.section-detail-header {
  padding-top: 15rem;
  height: calc(100vh - 15rem);
  width: calc(100vw - 2.5 *  var(--body-padding));
  background-size: cover; }
  @media only screen and (max-width: 75em) {
    .section-detail-header {
      height: 90%;
      padding-top: 15rem;
      padding-bottom: 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-detail-header {
      width: 100%; } }
  .section-detail-header--poverty {
    background-image: linear-gradient(250deg, rgba(247, 247, 247, 0.5) 50%, rgba(247, 247, 247, 0.7) 60%, #f7f7f7 100%), linear-gradient(to bottom, rgba(247, 247, 247, 0.2) 50%, rgba(247, 247, 247, 0.9) 100%), url(../images/poverty/ben-richardson-WV-NgeS9oRw-unsplash-1920.jpg);
    background-position: center; }
  .section-detail-header--hunger {
    background-image: linear-gradient(250deg, rgba(247, 247, 247, 0.5) 50%, rgba(247, 247, 247, 0.7) 60%, #f7f7f7 100%), linear-gradient(to bottom, rgba(247, 247, 247, 0.2) 50%, rgba(247, 247, 247, 0.9) 100%), url(../images/hunger/timothy-barlin-_nFc2IRUHrM-unsplash-1920.jpg);
    background-position: left; }

.detail-header__text-box {
  height: 90%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .detail-header__text-box {
      width: 90%; } }

.detail-header__title {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .6rem;
  word-spacing: .2rem;
  width: 100%;
  text-align: left;
  color: #333; }
  @media only screen and (max-width: 37.5em) {
    .detail-header__title {
      text-align: center; } }

.detail-header__subtitle {
  width: 100%;
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: .6rem;
  word-spacing: .2rem; }
  @media only screen and (max-width: 37.5em) {
    .detail-header__subtitle {
      text-align: center; } }

.section-facts, .section-areas, .section-events {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .section-facts, .section-areas, .section-events {
      width: 90%; } }

.facts__list {
  list-style: disc;
  padding-left: 2rem; }

.facts__item {
  margin-bottom: 1rem; }

.facts__info {
  font-size: 1.4rem;
  margin-top: 4rem;
  text-align: right; }

.areas__img {
  display: block;
  width: 100%; }

.areas__caption {
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: right; }

.events {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-row-gap: 5rem;
  grid-column-gap: 5rem; }

.section-intro {
  padding-top: 15rem;
  height: calc(100vh - 15rem);
  width: calc(100vw - 2.5 *  var(--body-padding));
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(../images/background/zeyn-afuang-9xp0AWvlGC4-unsplash-1920.jpg);
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 75em) {
    .section-intro {
      height: 90%;
      padding-top: 15rem;
      padding-bottom: 15rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-intro {
      width: 100%; } }

.section-issue {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .section-issue {
      width: 90%; } }
