.footer {
    
    margin-left: -$body-padding;
    margin-right: -$body-padding;
    padding: 5rem 0;
    color: $color-grey-light-1;


<<<<<<< HEAD:src/styles/layout/_footer.scss
    background-image: url(../assets/images/background/dark-wood.jpg);
=======
    background-image: url(../../assets/images/background/dark-wood.jpg);
>>>>>>> 498e6c8fb78111a7427af8d3b1592ebbce3adf5f:style/sass/layout/_footer.scss
    font-size: 1.4rem;

    @include responsive(tab-port){
        margin-left: 0;
        margin-right: 0;
    }
    


    &__container {
        max-width: 120rem;
        width: 80%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-column-gap: 2rem;
        justify-content: center;
        align-items: flex-start;

        margin-bottom: 3rem;

        @include responsive(tab-port) {
            width: 90%;
            grid-column-gap: 1.5rem;
        }

        @include responsive(phone) {
            grid-template-columns: 1fr;
            grid-row-gap: 5rem;
        }

    }   

    &__title {
        color: $color-primary-light;
        text-transform: uppercase;

        font-weight: 700;

        margin-bottom: 1.2rem;
    }


    // CONTACT US and JOIN US CONTAINERS
    &__contact, &__join-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    // CONTACT US

    &__email {
        margin-bottom: 1.2rem;
        color: currentColor;

        &:hover {
            color:  rgba($color-grey-dark-1, .8);
        }

    }

    &__icon-link {
        &:link,
        &:visited{
            text-decoration: none;
        }
        
        &:not(:last-of-type) {
            margin-right: .5rem;
        }
    }

    &__icon {
        height: 3rem;
        width: 3rem;
        fill: $color-grey-dark-1;

        @include hoverEffect;

        &:hover {
            fill: $color-primary-light;
        }

        @media only screen and (hover:none){
            fill: $color-primary-light;
        }
    }

    // LOGO
    &__logo-box {
        display: flex;
        justify-content: center;
        align-items: center;

        @include responsive(phone) {
            order: -1;
        }
    }

    &__logo {
        width: 15rem;        
    }


    //JOIN US
    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include responsive(phone) {
            margin-bottom: 5rem;
        }
    }

    &__email-input {
        width: 100%;
        padding: .7rem 1rem;
        border: none;
        font-family: inherit;
        font-size: inherit;
        background-color: $color-grey-light-2;
        color: $color-grey-dark-3;


        &:focus{
            outline: none;
            box-shadow:  0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }
    }

    &__email-label {
        display: block;
        align-self: flex-start;
        font-size: 1.2rem;
        margin-left: .7rem;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
        transition: all .3s;
    }

    &__email-input:placeholder-shown + &__email-label{
        opacity: 0;
        visibility: hidden;
        margin-bottom: -1rem;
        transform: translateY(-3rem);
    }




    // NAVIGATION 
    &__nav{
        display: flex;
        max-width: 120rem;
        width: 80%;
        margin: 0 auto;

        @include responsive(phone) {
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
        }
    }

    &__copy {
        width: max-content;

        @include responsive(phone) {
            align-self: center;
            margin-bottom: 2rem;
        }
    }

    &__list {
        flex: 1;       
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        @include responsive(phone) {
           
        }
    }

    &__item {
        @include responsive(phone) {
            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }

    &__link {
        &:link,
        &:visited{
            text-decoration: none;
            color: currentColor;
            display: inline-block;
            transition: all .2s;
        }

        @include hoverEffect;
        
    }
}