.section-intro {

    @include sectionIntro;

    background-image: linear-gradient(to right bottom, rgba($color-white, 0.3), rgba($color-white, 0.3)), url(../../assets/images/background/zeyn-afuang-9xp0AWvlGC4-unsplash-1920.jpg);
    background-size: cover;
    background-position: center;

}


.section-issue {
    @include centerContainer;

    @include responsive(tab-land) {
        width: 90%;
    }

}