.u-margin-bottom-huge {
    margin-bottom: 12rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 5rem !important;
}


.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

